.caja{
    background-color: greenyellow ;
    width: 450px;
    height: 250px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    transform: scale(0.2);
}