.contenedor{
    background-color: rgb(204, 57, 79);
    display: inline-flex;
    flex-wrap: wrap;
}
.item{
    font-size: 15px;
    background-color: lightblue;
    width: 300px;
    height: 100px;
    margin: 20px;
}